body{
    font-family: Roboto;
    display: grid;
    place-content: center;
    background:rgb(0, 0, 30);
    
}
.card{
    width: 250px;
    height: 150px;
    box-shadow: 0px 0px 40px blueviolet;
    padding: 15px;
    margin-top: 200px;
    border-radius: 10px;
    border:solid 2px blueviolet;
    background: linear-gradient(blueviolet, teal);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

